name: Linux Android

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup GraalVM environment
      uses: DeLaGuardo/setup-graalvm@master
      with:
        graalvm: '21.0.0.2'
        java: 'java11'
    - name: APT update
      run: sudo apt update
    - name: Install libraries
      run: sudo apt install libasound2-dev libavcodec-dev libavformat-dev libavutil-dev libgl-dev libgtk-3-dev libpango1.0-dev libxtst-dev
    - name: Make staging directory
      run: mkdir staging
    - name: Setup Android Keystore
      if: ${{ github.repository_owner == 'gluonhq' }}
      id: android_keystore_file
      uses: timheuer/base64-to-file@v1
      with:
        fileName: 'my.keystore'
        encodedString: ${{ secrets.GLUON_ANDROID_KEYSTORE_BASE64 }}
    - name: Gluon License
      uses: gluonhq/gluon-build-license@v1
      with:
        gluon-license: ${{ secrets.GLUON_LICENSE }}
    - name: Gluon Build
      run: mvn -DconsoleProcessLog=true -Pandroid gluonfx:build gluonfx:package
      env:
        GRAALVM_HOME: ${{ env.JAVA_HOME }}
        GLUON_ANDROID_KEYSTOREPATH: ${{ steps.android_keystore_file.outputs.filePath }}
        GLUON_ANDROID_KEYSTORE_PASSWORD: ${{ secrets.GLUON_ANDROID_KEYSTORE_PASSWORD }}
        GLUON_ANDROID_KEYALIAS: ${{ secrets.GLUON_ANDROID_KEYALIAS }}
        GLUON_ANDROID_KEYALIAS_PASSWORD: ${{ secrets.GLUON_ANDROID_KEYALIAS_PASSWORD }}
    - name: Copy native images to staging
      run: cp -r target/gluonfx/aarch64-android/gvm/Resistor\ Calculator.apk staging
    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: Package
        path: staging
    - name: Upoad to Google Play
      if: ${{ github.repository_owner == 'gluonhq' }}
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccountJsonPlainText: ${{ secrets.ANDROID_SERVICE_ACCOUNT_JSON }}
        packageName: be.webtechie.resistorcalculatorapp
        releaseFiles: target/gluonfx/aarch64-android/gvm/Resistor Calculator.apk
        track: beta
